<header class="surface-section px-4 py-8 md:px-6 lg:px-8 border-bottom">
    <div class="container">
        <div class="text-center my-5">
            <div class="text-center text-xl line-height-1 text-600">Meet our</div>
            <div class="text-center font-bold text-900 text-5xl mb-3">Awesome team</div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="px-4 py-8 md:px-6 lg:px-8 justify-content-center text-center">
            <div class="grid line-height-1">
                <div class="col-12 md:col-6 lg:col-3 p-3 ">
                    <p-card header="Crew Name" subheader="Positions" styleClass="shadow-2">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://picsum.photos/200/200">
                        </ng-template>
                    </p-card>
                </div>
                <div class="col-12 md:col-6 lg:col-3 p-3">
                    <p-card header="Crew Name" subheader="Positions" styleClass="shadow-2">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://picsum.photos/200/200">
                        </ng-template>
                    </p-card>
                </div>
                <div class="col-12 md:col-6 lg:col-3 p-3">
                    <p-card header="Crew Name" subheader="Positions" styleClass="shadow-2">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://picsum.photos/200/200">
                        </ng-template>
                    </p-card>
                </div>
                <div class="col-12 md:col-6 lg:col-3 p-3 ">
                    <p-card header="Crew Name" subheader="Positions" styleClass="shadow-2">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://picsum.photos/200/200">
                        </ng-template>
                    </p-card>
                    <!-- <div class="relative overflow-hidden"><img src="https://picsum.photos/200/200"
                            class="w-full block">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="grid px-4 py-8 justify-content-center">
        <div class="col-12 lg:col-5 p-3">
            <div class="shadow-2 border-round h-full surface-card">
                <img src="https://picsum.photos/200/200" alt="Image" height="300" width="300"
                    class="block w-full border-round-top">
                <div class="p-4">
                    <div class="grid">
                        <div class="col-12 lg:col-4 flex">
                            <div class="ml-2 mb-3">
                                <div class="text-xs font-bold text-900 mt-1 mb-1">Anna Lane</div>
                                <div class="text-xs flex align-items-center text-700"><i
                                        class="pi pi-calendar mr-1 text-xs"></i><span>Apr 5, 2021</span></div>
                            </div>
                        </div>
                        <div class=" col-12 lg:col-8 text-xl text-900 font-medium mb-3 line-height-2">Fugitive flamingo
                            spotted in Florida
                        </div>
                    </div>
                    <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <span class="block font-medium text-blue-600 mb-3">More</span>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-5 p-3">
            <div class="grid">
                <div class="col-12">
                    <div class="shadow-2 border-round h-full surface-card">
                        <img src="https://picsum.photos/200/200" height="200" width="100" alt="Image"
                            class="block w-full border-round-top">
                        <div class="p-4">
                            <div class="grid">
                                <div class="col-12 lg:col-4 flex">
                                    <div class="ml-2 mb-3">
                                        <div class="text-xs font-bold text-900 mt-1 mb-1">Arlene McCoy</div>
                                        <div class="text-xs flex align-items-center text-700"><i
                                                class="pi pi-calendar mr-1 text-xs"></i><span>Apr 6, 2021</span></div>
                                    </div>
                                </div>

                                <div class=" col-12 lg:col-8 text-xl text-900 font-medium mb-3 line-height-3">Fugitive
                                    flamingo spotted in
                                    Florida
                                </div>
                            </div>
                            <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                            <span class="block font-medium text-blue-600 mb-1">More</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="shadow-2 border-round h-full surface-card">
                        <div class="p-4">
                            <div class="grid">
                                <div class="col-12 lg:col-4 flex">
                                    <div class="ml-2 mb-3">
                                        <div class="text-xs font-bold text-900 mt-1 mb-1">Arlene McCoy</div>
                                        <div class="text-xs flex align-items-center text-700"><i
                                                class="pi pi-calendar mr-1 text-xs"></i><span>Apr 6, 2021</span></div>
                                    </div>
                                </div>

                                <div class=" col-12 lg:col-8 text-xl text-900 font-medium mb-3 line-height-3">Fugitive
                                    flamingo spotted in
                                    Florida
                                </div>
                            </div>
                            <div class="text-sm line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit.</div>

                            <span class="block font-medium text-blue-600 mb-3">More</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="bg-gray-900">
        <div class="grid">
            <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3"><img src=""
                    alt="footer sections" class="mr-3" width="50" height="50">
                <div class="text-gray-300 font-bold text-5xl">Logo</div>
            </div>
            <div class="col-12 md:col-3">
                <div class="text-white text-lg mb-4 flex flex-wrap" style="max-width: 290px;">Jacob Obrechtstraat 5,
                    1071 KC Amsterdam The Netherlands</div>
                <div class="text-white mb-3"><i class="pi pi-phone surface-800 border-round p-1 mr-2"></i>(31) 20
                    779 8986</div>
                <div class="text-white mb-3"><i
                        class="pi pi-inbox surface-800 border-round p-1 mr-2"></i>your@email.here</div>
            </div>
            <div class="col-12 md:col-3 px-6 text-gray-200">
                <div class="text-white font-bold line-height-3 mb-3">Company</div><a
                    class="line-height-3 block cursor-pointer mb-2">About Us</a><a
                    class="line-height-3 block cursor-pointer mb-2">News</a><a
                    class="line-height-3 block cursor-pointer mb-2">Investor Relations</a><a
                    class="line-height-3 block cursor-pointer mb-2">Careers</a><a
                    class="line-height-3 block cursor-pointer">Media Kit</a>
            </div>
            <div class="col-12 md:col-3 text-gray-200">
                <div class="text-white font-bold line-height-3 mb-3">Resourses</div><a
                    class="line-height-3 block cursor-pointer mb-2">Get Started</a><a
                    class="line-height-3 block cursor-pointer mb-2">Learn</a><a
                    class="line-height-3 block cursor-pointer">Case Studies</a>
            </div>
        </div>
    </div>
</div>